
#banner {
    max-width: unset;
    margin: auto;
    position: relative;
    height: 400px;
    overflow: hidden;

}

#banner .imageBox {
    position: absolute;
    width: 100%;
    background-color: #fff;
    height: 100%;
}

#banner .imageBox img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#banner .controlArea {
    width: 100%;
    height: 100%;
    position: absolute;
}

#banner .controlArea .arrow {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: .2;
    transition: .2s;
}

#banner .controlArea .arrow:hover {
    opacity: 1;
}

#banner .controlArea img {
}

#banner .controlArea .leftArrow {
    background-image: linear-gradient(to right, #00000020, #00000000);
    left: 0;
}

#banner .controlArea .rightArrow {
    background-image: linear-gradient(to left, #00000020, #00000000);
    right: 0;
}

#banner .controlArea .dollBox {
    bottom: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 10px;
}

#banner .controlArea .dollBox .bar {
    cursor: pointer;
    height: 4px;
    width: 40px;
    background-color: #fff;
    opacity: .2;
    transition: .2s;
}

#banner .controlArea .dollBox .bar.active {
    opacity: 1;
}

#banner .controlArea .dollBox .bar:hover {
    opacity: 1;
}

#content {
    margin: 20px auto 80px;
    display: flex;
    column-gap: 20px;
}

#content .box {
    background-color: #fff;
    padding: 20px;
    /*display: flex;*/
    /*column-gap: 20px;*/
    flex: 1;
}

#content .box.left {
    width: calc(1200 - 500px);
}


#content .box .plate > .titleBar {
    font-size: 20px;
    color: #333;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    /*padding-bottom: 20px;*/
    align-items: center;
    /*font-weight: 200;*/
}

#content .plate .titleBar .title {
    display: flex;
    cursor: pointer;
}

#content .plate .titleBar .title .select {
    padding-bottom: 18px;
    border-bottom: 1px solid transparent;
    transition: .2s;
    opacity: .5;
}

#content .plate .titleBar .title .select.active {
    border-bottom: 1px solid #2962FF;
    color: #2962FF;
    opacity: 1;
}

#content .box.right .plate .titleBar .title .select {
    border-bottom: 1px solid #2962FF;
    color: #2962FF;
    opacity: 1;
}

#content .plate .titleBar .title span {
    margin: 0 10px;
    opacity: .4;
    font-size: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;

}

#content .plate .titleBar .more {
    font-size: 14px;
    padding-bottom: 18px;
    color: #999;
}


#content .box.left .plate .content {
    display: none;
}

#content .box.left .plate .content.show {
    display: block;
}

#content .plate .content a {
    display: flex;
    color: #666;
    margin-top: 25px;
    font-size: 18px;
    align-items: center;
    /*justify-content: space-between;*/
}

#content .plate .content a .title {
    /*width: 600px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 1s;
}

#content .plate .content a .title:hover {

    text-decoration: underline;
}

/*#content .plate .content a:before{*/
/*    width: 2px;*/
/*    margin-right: 10px;*/
/*    height: 6px;*/
/*    content: "";*/
/*    background-color: #999999;*/
/*}*/

#content .plate .content a .date {
    color: #2979FF;
    margin-left: 20px;
    padding-right: 10px;
    margin-right: 10px;
    /*font-size: 14px;*/
    border-right: 1px solid #999999;
    white-space: nowrap;
}

#content .box.right {
    width: 400px;
    flex: unset;
}

#content .lastNewsBox {
    padding: 0;
    flex: unset;
}

#content .lastNewsBox .content {
    padding: 0 20px 20px;
}

#content .lastNews {
    flex: 1;
    padding: 0;
}

#content .lastNews .content a .title {
    width: 300px;
}

#content .lastNews .plateTitle {
    background-color: #2196F3;
    color: #ffffff;
    height: 67px;
    font-size: 20px;
    font-weight: 200;
    line-height: 67px;
    text-align: center;
    cursor: pointer;
}

#content .lastNews .plateTitle:hover {
    background-color: #2979FF;
}

#footer {
    /*height: 200px;*/
    background-color: #29293f;

}

#footer .box {
    width: 1200px;
    margin: auto;
    padding: 40px 0;
    color: #ffffff80;
    display: flex;
    justify-content: space-between;
}

#maskLogo {
    position: absolute;
    top: 100%;
    width: 300px;
    left: 55vw;
    opacity: .05;
}