a {
    text-decoration: unset;
    color: #fff;
    
    &:hover {
        color: #2962FF !important;
    }
}


body {
    min-width: 1250px;
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
    font-family: 幼圆, serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#goTop {
    position: fixed;
    right: 5vw;
    bottom: 10vh;
    padding: 10px;
    background-color: #2979FF;
    opacity: .5;
    transition: .2s;
    cursor: pointer;
    
    &.hide {
        display: none;
    }
    
    &:hover {
        opacity: 1;
    }
}

#top {
    height: 250px;
    background-color: #2962FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    > #menu {
        background-color: #4484FF;
        width: 100%;
        display: flex;
        justify-content: center;
        
        > .box {
            width: 100%;
            max-width: 1200px;
            justify-content: space-between;
            height: 44px;
            display: flex;
            
            
            > .item {
                height: 100%;
                font-size: 18px;
                flex: 1;
                position: relative;
                
                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    white-space: nowrap;
                }
                
                a:hover {
                    color: #ffffff !important;
                }
                
                &:hover {
                    background-color: #2979FF;
                    color: #ffffff !important;
                    position: relative;
                    
                    .childMenu {
                        display: flex !important;
                    }
                }
                
                .childMenu {
                    background-color: #4484FF;
                    display: none;
                    flex-direction: column;
                    position: relative;
                    z-index: 2;
                    
                    > .item {
                        height: 44px;
                        text-align: center;
                        
                        &:hover {
                            background-color: #2979FF;
                        }
                    }
                }
                
            }
        }
        
        
    }
}

#footer {
    /*height: 200px;*/
    background-color: #29293f;
    
    .box {
        width: 1200px;
        margin: auto;
        padding: 40px 0;
        color: #ffffff;
        opacity: .8;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        
        .info {
            //width: 100%;
            display: flex;
            gap: 20px;
        }
        
        .right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    
}

::-webkit-scrollbar {
    width: 5px;
    background-color: unset;
}

::-webkit-scrollbar-thumb {
    background-color: #2979FF;
}